# Python
bagu-backend/venv/
bagu-backend/db.sqlite3
bagu-backend/db.sqlite3-shm
bagu-backend/db.sqlite3-wal
**/__pycache__/
*.pyc

# Node
bagu-frontend/node_modules/
bagu-frontend/dist/

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Claude
CLAUDE.md
